/***** CSS Reset  *****/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** End of CSS Reset *****/

/* setting html defaults like text and margin */

html,body{
    background-color: #f7f7ff;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 30px;
}


.logo{
    width: 40%;
}

h1,h2,h3,h4,p{
    color: #333131;
}

h1{
    font-weight: bold;
    font-size: 4rem;
}

h2{
    font-size: 2.5rem;
    font-weight: bold;
}

h3{
    font-size: 1.5rem;
}

p{
    font-size: 1rem;
}

/* chaning the size of the scooter image and centering it */
.scooter{
    padding: 1rem 0rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* giving the apply now box a drop shadow and white background */
.apply{
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    border-left:  2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    text-align: center;   
}

.apply h2{
    padding: 1rem;
}

.apply p{
    padding-bottom: 1rem;
    
}

/* setting font size of the extra text in "enter your info below" to 0 to hide it */
.infobelow{
    font-size: 0rem;
}

/* giving the input fields rounded edges  */

.textapplynow input, .textfooter input{
    background-color: #f7f7ff;
    border: none;
    border-radius: 10px;
    padding: 1rem 0.5rem;
    padding-right: 3rem;
    margin-bottom: 1rem;
    height: 0.3rem;
}

.check{
    color: #333131;
    margin: 0.5rem 1rem;
}

.check input{
    width: 25px;
    height: 15px;
}

/* giving the button its colour, sizing, and rounded edges */

.apply button{
    background-color: #57eeab;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    color: #333131;
}

.alreadyapplied{
    margin: 0rem 1rem;
    text-align: center;
}

p a{
    color: #ff8480;
    text-decoration: none;
}


/* giving the footer proper colour and making it wrap to the edges */

footer{
    background-color: #fffd8c;
    margin: 0rem -3rem;
    padding: 0rem 3rem;
    padding-bottom: 1rem;
}

/* giving calculate button rounded edges and colour */

footer button{
    color: white;
    background-color: #ff8480;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.5rem;
    
}

/* using grid to organize the footer */

footer{
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "head head head head"
    "para para para para"
    "hour city city city"
    "btn btn btn btn"
    "social social social social"
    ;
    display: grid;
}


footer h4{
    grid-area: head;
    margin-right: 5rem;
    font-weight: bold;
    padding: 1rem 0rem;
}

footer p{
    grid-area: para;
}

.textfooter{
    padding-top: 1rem;
}

.hour{
    grid-area: hour;
    width: 12%;
    height: 0.3rem;
}

.city{
    grid-area: city;
    width: 40%;
    height: 0.3rem;
}

.calculate{
    width: 100%;
    grid-area: btn;

}

/* giving the social media icons thier colour and sizing */

footer i{
    grid-area: social;
    font-size: 2rem;
    padding: 1rem 1rem;
    color: #333131;
    
}

footer .socialmedia{
    text-align: center;
}

@media  (min-width: 600px) {

.logo{
    width: 15%;
}

html{
    margin: 20px 50px;
}

h1{
    padding: 1rem 0rem;
}

.scooter{
    width: 50%;
}

.apply{
    text-align: left;
}

.apply h2{
    font-size: 1.5rem;
    margin-left: 1rem;
}

.apply p{
    padding-left: 2rem;
}

.apply button{
    margin-left: 5%;
}

.apply .check{
    margin-left: 5%;
}

/* changing the size of the apply now field to be larger */

.textapplynow input{
    margin-left: 2rem;
    width: 80%;
    margin-right: 1rem;
    align-content: center;
}

.apply button{
    width: 90%;
    align-content: center;
}

footer{
    margin: 0rem -5rem;
    padding-left: 5rem;
}

footer .city{
    width: 20%;
}

footer .calculate{
    width: 45%;
}

footer .socialmedia{
    width: 100%;
}

}

@media  (min-width: 1080px) {


    /* making the scooter image a background image and centering it */

body{
    background-image: url(../images/bg-image/scooter.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    padding-top: 5rem;
}

.logo{
    width: 10%;
}

h1{
    font-size: 3rem;
    margin-right: 70%;

}

h3{
    font-size: 1rem;
    margin-right: 70%;
 
}

/* hiding the scooter image */

.scooter{
   display: none;  
}

/* using flex wrap to put the apply now section on the right */
.apply{
    padding-right: 5rem;
    margin-top: -20rem;
    margin-left: 50rem;
    width: 27%;
    display: flex;
    flex-wrap: wrap;
}

/* bringing back "to get started" by increasing the font size from 0 to 1rem */

.infobelow{
    color: #333131;
    font-size: 1rem;
}

.apply h2, .apply p{
    margin-left: 2rem;
    padding-left: 1rem;
}

.alreadyapplied{
    margin: auto;
}


.apply input{
    padding-right: 1rem;
    margin-left: 3rem;
    background-color: #f7f7ff;
}

.apply button{
    margin-left: 3rem;
    padding-right: 2rem;
}

.apply p{
    margin-left: 5rem;
}

footer{
    grid-area: footer;
    float: inline-end;
    width: 100%;
}

footer .calculate{
    width: 20%;
}

/* moving the social media icons to the right */

footer .socialmedia{
    float: right;
    margin-left: 5%;
    width: 30%;
    margin: auto;
    padding-left: 2.5rem;
}

}