/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******* CSS RESET ********/
/**************************/



/**************************/



/**************************/
/****** CUSTOM CSS *******/




 /* setting defaults of the website including the custom font from google */

html{
    font-family: 'open sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
}

main{
    word-wrap: break-word;
    margin-right: auto;
    margin-left:  auto;
}

/* Mobile app section */

h1{
    font-size: 5.063rem;
    font-weight: bold;
}

h2{
    font-size: 3.375rem;
    font-weight: bold;
}

h3{
    font-size: 2.25rem;
    font-weight: bold;
}

h4{
    font-size: 1.2rem;
    font-weight: bold;
}



/* nav bar */

.header{
    background-color: #c78c06;
}

.main-nav{
    color: #c78c06;
    background-color: #222222;
    padding: 0em 0em 1em 0em;
}

nav li a{
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 1em 0;
    display: block;
}

/* nav will change colour to the oposite when hovered */

nav li a:hover,
nav li a:focus{
    color:black;
    background-color: #c78c06;
}

input, textarea {
    resize: none;
    width: 80%;
    margin: 0em 0em 1em 1em;
    padding: 0.5rem 1rem;
}

/* giving search button colour and a box */

.main-nav i{
    color: #c78c06;
    float: right;
    font-size: 1.5rem;
    padding: 1rem;
    margin: -0.5rem 2rem 0rem 0rem;
    border: 2px solid #c78c06;
    width: 3.3%;
    position: static;
}

.main-nav i:hover{
    color: #222222;
    background-color: #c78c06;
    border: 2px solid white;
}

/* Home page */

/* background image for text to be over */

.home{
    background: url("../img/main-banner.jpg") no-repeat center center;
    background-size: 100em;
    padding: 7em 0em;
}

/* changeing colour of home text and giving a black tansparant background to the words */

.hometext{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2em 2em;
} 

.hometext .btn{

font-size: 1.2rem;

}

.hometext i{
    font-size: 2rem;
    display: block;
    float: right;
}

/* giving the connect button style and colour */

.hometext .btn{
    color: #222222;
    background-color: #c78c06;
    margin: 1rem 0rem 0rem 1rem;
    padding: 1rem 1rem;
    border: none;
    display: block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}



/* about us */


.about{
    background-color: #ffe6ac;
    display:block;
    padding: 1em 2em 2em 2em;
}

.about img{
    width:100%;
}



/* our services */

.services h2{
    padding: 1rem 0rem 0rem 1rem;
}

/* giving every button in the services section the same style */

.services .btn{
    background-color: #222222;
    color: white;
    text-decoration: none;
    padding: 1.5rem 1rem;
    margin: 1rem 0rem 0rem 0rem;
    display: block;
    width: 125px;
    text-align: center;
}

.services .btn i{
    font-size: 1.5rem;
    margin: 0.3rem 0.3rem;
}

.services img{
    width: 100%;
}

.digital, .marketing, .production, .webdev, .print{
    background-color: #ffe6ac;
    margin: 1rem;
    padding: 1rem;
}



/* vision */

.vision{
    background: url("../img/vision.jpg") no-repeat center center;
    background-size: 60em;
    padding: 2em 1em;
}

.vision h3{
    color: white;
}

.vision p{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.vision .btn{
    background-color: #11253e;
    border: 1px solid #c78c06;
    color: white;
    text-decoration: none;
    padding: 1.5rem 1rem;
    margin: 1rem 0rem 0rem 0rem;
    display: block;
    width: 125px;
    text-align: center;
}

.vision .btn i{
    font-size: 1.5rem;
}



/* our team */

.team h2{
    padding: 1rem;
}

.john, .bob{
    background-color: #ffe6ac;
    margin: 1em;

}

.john img ,.bob img{
    width: 100%;
}

.john h3, .bob h3{
    padding: 0rem 0rem 0rem 1rem;
}

.john h4, .bob h4{
    margin: -0.5rem 0rem 0rem 1rem;
    box-shadow: 0em 0.1em 0em 0em #c78c06;
    width: 95%;
    
}

.john p, .bob p{
    grid-area: footer;
    padding: 0rem 0rem 1rem 1rem;
}


/* contact us */



.contact{
padding-left: 1rem;
}

.contact input{
    width: 95%;
    margin: 0.5em 0em 0.5em 0em;
}

.contact textarea{
    width: 92%;
    height: 10rem;
    margin: 0.5em 0em 0.5em 0em;
}

.contact button{
    color: #c78c06;
    background-color: #222222;
    padding: 0.5rem;
    border: none;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}



/* hours */

.hours h3{
    padding: 1rem;
}

/* giving the table its outline */

table, th, td {
    border: 2px solid black;
    width: 50%;
    padding: 1rem 0rem;
    margin: 1rem;
  }

  .hours td{
    padding: 1rem;
  }

 .day, .hour{
      background-color: #ffe6ac;

      padding: 1rem 0rem;
  }


/* location */

.location h3{
    padding: 1rem 0rem 0rem 1rem;
}

.location iframe{
    width: 96%;
    padding: 1rem;
}

/* the footer */


footer{
    color: #c78c06;
    background-color: #222222;
    padding: 1rem 35rem 1rem 1rem;

}

footer a{
    color: #c78c06;
}


/****** desktop style ******/

@media screen and (min-width:1080px){

html{
        font-size: 16px;
    }

    h1{
    font-size: 6rem;
}

 h2{
    font-size: 4.4rem;
}

h3{
    font-size: 2.65rem;
}

h4{
    font-size: 1.4rem;
}




    header img{
        width: 50%;
        padding: 1rem;
        
    }

    .header{
        background-color: #222;
        float: left;
        height: 80px;
        padding: 1rem 1rem;
    }

    
    nav li a{
        background-color: #222;
        margin: 3rem 0rem 0rem 0.5rem;
        width: 13%;
        display: block;
        float: left;
    }
    
    input {
        width: 10%;
        margin: 5em 0.5em 0em 0.1em;
        padding: 0.3rem 0rem;
    }

    .main-nav i{
        float: none;
        font-size: 1rem;
        padding: 0.5rem;
        width: 1%;

    }
    

    /* home page */


    .home{
        background-size: 100%;
        padding: 5em 0em;
    }


.hometext{
    margin: 0rem 4rem;
} 

.hometext .btn{
font-size: 1rem;
padding: 2rem;

}



/* about us */


.about{
    padding: 1em 2em 2em 5em;
    
}

.about img{
    width:40%;
    float: left;
    margin-right: 1rem;
}

.about p{
    margin: 2rem 0rem;
    width: 100%;

}


/* serrrvices */

.services h2{
    padding: 1rem 0rem 0rem 3rem;
}

/* giving every button in the services section the same style */

.services .btn{
 width: 100%;
 padding: 1rem 0rem;
}


.services img{
    width: 100%;
}

.digital, .marketing{
    margin: 1rem 3.5rem;
    width: 40%;
    float: left;
}

.production, .webdev, .print{
    float: left;
    width: 24%;
    margin: 1rem 3.5rem;
}


/* vision */

.vision{
    background-size: 100%;
    float: left;
}

.vision h3, .vision p, .vision .btn{
    margin: 1rem 3.5rem;
}

.vision p{
    background-color: unset;
}

.vision .btn{
    padding: 1.5rem 2rem;
}

/* our team */

.team{
    float: left;
    margin: 1rem 3.5rem;
    
}



.team h2{

}

.john, .bob{
padding: 0rem 0rem 22rem 0rem;
margin: 0rem;
}

.john img ,.bob img{
    width: 50%;
}

.john h3, .bob h3{
    width: 100%;
}

.john h4, .bob h4{
    width: 97%;    
}

.john p, .bob p{
    width: 98%;
    
}

.john img{
    float: left; 
    margin-right: 1rem;  
}

.bob img{
    float: right;
}




.hours{
   float: left;
   width: 100%;
   transform: translate(0px, 10rem);
   margin: 0rem;
}

.contact{
    float: left;
    margin: 1rem 3.5rem;
}   

.contact h2{
    padding: 3rem 0rem;
}
    .contact input{
        width: 200%;   
    }
    
    .contact .textbox{
        width: 210%;
    }
    
    .contact button{

    }

    .location{
        float: left;
        transform: translate(59rem, -55rem)
    
    }
    
    .location iframe{
        width: 200%; 
    }



.footer{
    float: left;
    background-color: #222;
    width: 100%;
    line-height: 1rem;
    padding: 1rem 3.5rem;


}


}

